.DS_Store
/Tuist
/Workspace.swift
/.package.resolved
/ConnectPayExample/Project.swift
/ConnectPayExample/Pods
/ConnectPayExample/ConnectPayExample/Resources/GoogleService-Info.plist
*.xcuserstate
UserInterfaceState.xcuserstate
